<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse container justify-content-between" id="navbarSupportedContent">
    <div class="">
<img src="./bw_image.jpg" width="60px">
      <a class="navbar-brand text-warning" href="#">Sakamoto </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <ul class="navbar-nav justify-content-evenly">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="text-warning">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="text-warning">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart" routerLinkActive="text-warning">
          Cart <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
